.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 70px 100px 10px;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://wallpaperaccess.com/full/5651990.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 0px 10px;
  border: 1px solid rgba(225, 225, 225, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.hero h1 {
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  /* -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;  */
}

.wrap {
  border-right: 0.08em solid #666;
}

.hero p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 80%;
}

.connectBtn {
  letter-spacing: 0.8px;
  border: none;
  margin-top: 60px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.hero button:hover {
  background-color: transparent;
  color: #fff;
}

.col1 {
  padding: 0px 100px;
}

.heroImg {
  width: 320px;
  height: 400px;
  object-fit: cover;
  animation: updown 3s linear infinite;
  border-radius: 50%;
  border: 10px solid #666;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@media (max-width: 900px) {
  .col2 {
    display: none;
  }
  .hero {
    padding: 50px 10px;
  }

  .tagline {
    font-weight: 600;
    font-size: 15px;
  }

  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    color: #b8b8b8;
    font-size: 13px;
  }

  .hero button {
    margin-top: 30px;
    font-size: 15px;
  }

  .col1 {
    padding: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 1200px) {
  .hero h1 {
    font-size: 2em;
  }
  .col1 {
    padding: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 1400px) {
  .hero h1 {
    font-size: 2em;
  }
  .col1 {
    padding: 0px;
    margin-right: 0px;
  }
}
