.skills {
  padding: 10px 50px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.squarespace-cdn.com/content/v1/5c7d59f690f904489a78904b/1565062200621-274FRWN73ADVYG9NRAGH/it-career-skills-series-backend-developer.jpg);
  color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.skills-bx {
  text-align: center;
  padding: 60px 50px;
}

.skills-bx p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  margin: 14px 0 75px 0;
}

.skills-bx h2 {
  font-size: 4em;
  font-weight: 700;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.skillSlider {
  width: 80%;
  margin: 0 auto;
}

.skillSlider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

@media (max-width: 700px) {
  .skills {
    padding: 0;
  }
  .skills-bx {
    padding: 10px;
  }
  .skills-bx p {
    font-size: 13px;
    margin: 14px 0 40px 0;
  }
  .skills h2 {
    margin-top: 10px;
    font-size: 2em;
  }
}
